.cart-no{
    position:absolute;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 1em;
    background-color: darkgreen;
    color: white;
    text-align: center;
    top: 0px;
    bottom: 48px;
    right: 6px;
    font-size: small;
    font-weight: bolder;
}